---
title: "Welcome to The House Of Living Water"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)


    caption: "Photo by **[Alexandros Margo Photography](https://www.instagram.com/alexandrosmargo?igsh=eHl2cGx0amVocmJi)**"

excerpt: "**Crafting effortless One-Pager Websites**"



gallery:
    - url: /assets/images/header.webp
      image_path: /assets/images/header.webp
      alt: "placeholder image 1"
      title: "Image 1 title caption"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/sydney-2.webp
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/sydney-3.webp
      alt: "placeholder image 3"
      title: "Image 3 title caption"


round-images:
    - image-path: "/assets/images/header.webp"
      size: "full"
      header: "Header 1"
      caption: "Caption 1"
    - image-path: "/assets/images/sydney-2.webp"
      size: "third"
      header: "Header 2"
      caption: "Caption 2"
    - image-path: "/assets/images/sydney-3.webp"
      size: "third"
      header: "Header 3"
      caption: "Caption 3"
    - image-path: "/assets/images/sydney-4.webp"
      size: "third"
      header: "Header 4"
      caption: "Caption 4"
    - image-path: "/assets/images/sydney-5.webp"
      size: "half"
      header: "Header 5"
      caption: "Caption 5"
    - image-path: "/assets/images/sydney-6.webp"
      size: "half"
      header: "Header 6"
      caption: "Caption 6"

image-text-row:
    - header: "Image-Text-Row"
      excerpt: "This is an image-text-row"
      image-url: "/assets/images/header.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false

image-text-row-two:
    - header: "Image-Text-Row"
      excerpt: "This is an image-text-row with the image on the right (on large enough screens) and a little bit longer text plus a button"
      btn-url: "#"
      btn-class: "info"
      btn-label: "A button"
      blank: false
      image-url: "/assets/images/sydney-2.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: true
---

<section class="site-section alternative-color first-section" id="section">

    <h1>House of Living Water is a holistic wellness store that addresses the epidemic of dehydration in our community and beyond. </h1>

    <h2>Co-owners Paulina and Cory Milan</h2>

    <p>Young entrepreneurs passionate about making a difference through collaboration and teamwork. </p>

    <p> Our goal is to create a ripple effect of better health and greater wealth, helping others embrace a natural, clean approach to true healing.</p>
    <p> We believe that health and wealth are interconnected. In today’s world, finding daily peace often depends on reducing stress—something we aim to address by fostering both physical and financial well-being.</p>
    <p> At House of Living Water, we are dedicated to building generational wealth and encouraging the next generation to thrive by promoting sustainable, holistic living.</p>
    
    <h2> Akaline Water </h2>

    {% include video id="gl1yuOUKJ0Q" provider="youtube" %}

</section>






<hr class="section-sep">







<section class="site-section" id="section-2">

    <h1>Our Story</h1>

    <h2>Utilities</h2>

    <div class="notice">
        <h4>Entrepreneurial Background</h4>
        <p> Paulina and Cory Milan have a rich background in entrepreneurship, rooted in their experience running and managing a family business in Southern California’s hospitality industry. </p>
    </div>

    <div class="notice--primary">
        <h4>Passion for Service</h4>
        <p>They share a deep commitment to service, teaching, and inspiring young people to align with their purpose. </p>
    </div>

    <div class="notice--success">
        <h4>Dynamic Relationship</h4>
        <p>As a young married couple, their relationship thrives on growth, learning, and adaptability, embracing life’s flow together.</p>
    </div>

    <div class="notice--warning">
        <h4>Inspirational Motto</h4>
        <p> Their motto, “Make our work a labor of love,” highlights their dedication to inspiring others to succeed in both business and life.</p>
    </div>

    <div class="notice--danger">
        <h4>Faith-Centered Vision</h4>
        <p>Moving to Galesburg from California was motivated by their desire to establish a business rooted in faith and purpose.</p>
    </div>

    <div class="notice--info">
        <h4>Community Impact</h4>
        <p>They aim to create a meaningful impact by building a business that supports their family while enriching the local community.</p>
    </div>

    

    
</section>








<hr class="section-sep">







<section class="site-section alternative-color" id="section-3">

    <h1>This is OneFlow Jekyll Theme. Section 3</h1>

    <h2>Easy customization</h2>

    <h3>Color skins</h3>

    OneFlow offers various color skins, easily settable in the <code>_config.yml</code> file.

    <h3>Masthead</h3>

    The masthead is set to sticky, so it always stays visible. You can easily change that in the <code>_config.yml</code> file. <br>
    You can also set the opacity of the masthead there.<br>
    Of course, the navigation links also can easily be changed, in <code>/_data/navigation.yml</code>.<br>
    The masthead can show your logo, the site title or the site title + a subtitle.

    <h3>Footer</h3>

    The links, copyright and creator in the footer can easily be set in the <code>_config.yml</code> file.

    <h3>Custom stylesheet, custom fonts</h3>
    Add your own styles in <code>/assets/css/custom-styles.css</code>,
    <span style="font-family: 'Great Vibes';"> and easily apply any font you want. </span>

    <h3>Cookie / cdn-usage consent banner</h3>
    OneFlow comes with a build-in popup banner that you can easily turn on and off plus customize to suit your needs.
    The existing version of the popup is a suggestion and should (no legal advice given) fulfill german laws regarding
    cookie and cdn-usage consent.

</section>







<hr class="section-sep">








<section class="site-section" id="section-4">

    <h1>This is OneFlow Jekyll Theme. Section 4</h1>

    <h2>Easy local build with docker</h2>

    OneFlow comes with build-in docker configuration using
    <a href="https://github.com/BretFisher/jekyll-serve" rel="noopener noreferrer nofollow" target="_blank">BretFisher's jekyll serve</a>.
    Just open up a terminal, navigate to your site and run <code>docker-compose up</code>. Easy as that. 

    <h2>Client editables</h2>

    {% include /editables/editables.html %}

    <h2>HTML and Markdown</h2>

    Use raw and flexible HTML or clear markdown to write your content.
    Markdown is rendered with <a href="https://kramdown.gettalong.org/" rel="noopener noreferrer nofollow" target="_blank">kramdown</a>,
    which supports applying css classes to the Markdown. That means, you can add notices, boxes and other utilities even to your Markdown content,
    as simple as <code>"Text you want to add the classes to {: .class1 .class2}"</code>.

    <h2>Icons with Font Awesome</h2>

    Add icons anywhere, using <a href="https://fontawesome.com/" rel="noopener noreferrer nofollow" target="_blank"><i class="fa-solid fa-font-awesome"></i> Font Awesome</a>.
    Locally hosted and directly build into OneFlow, ready to be applied.

    <h2>Responsive design</h2>

    All of OneFlows features are 100% responsive and adapt to different screen sizes, so your site looks good
    on all devices!


</section>